
<style>
    .Mymain {
        padding: 16px;
        margin-top: 50px;
        /* height: 1500px; /* Used in this example to enable scrolling */
    }
</style>

<div class="Mymain overflow-y-auto pt-15">
    <div class=" h-screen pb-1 bg-right bg-cover" style="background-image:url('img/landingbg.svg');">
        
    
        <!--Main-->
        <div class="container pt-20 md:pt-15 px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">
            
            <!--Left Col-->
            <div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
                <h1 class="my-2 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">BookMyRoom</h1>
                <p class="leading-normal text-base md:text-2xl mb-5 text-center md:text-left slide-in-bottom-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            
                <p class="text-blue-400 font-bold pb-5 lg:pb-6 text-center md:text-left fade-in">I Wanna:</p>
                <div class="flex w-full justify-center md:justify-start pb-12 lg:pb-0 fade-in">
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 mr-5 border border-gray-400 rounded shadow"><a href="/login">Log-In</a>
                        
                    </button>
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"><a href="/signup">Sign-Up</a>
                        
                    </button>
                    
                </div>
    
            </div>
            
            <!--Right Col-->
            <div class="w-full xl:w-3/5 py-6 overflow-y-hidden">
                <img class="  lg:mr-0 slide-in-bottom" src="img/pngwing.png">
            </div>  
        </div>
     </div>
</div>