</head>
<body class="">

  <header class="bg-A2D2FF fixed  md:flex md:items-center md:justify-between w-full z-50 p-4  shadow-lg md:pb-4" style="background-color:#FFFFFF;">
    <!-- Logo text or image -->
    <div class="flex items-center justify-between mb-4 md:mb-0">
      <h1 class="leading-none text-3xl text-black-darkest">
        <a class="no-underline text-black-darkest hover:text-black" href="/#">
          BookMyRoom
        </a>
      </h1>
  
      <!-- <a class="text-black hover:text-orange md:hidden" href="#">
        <i class="fa fa-2x fa-bars"></i>
      </a>
    </div> -->
    <!-- END Logo text or image -->
    
    <!-- Search field -->
    <!-- <form class="mb-4 w-full md:mb-0 md:w-1/4">
      <label class="hidden" for="">Search</label>
      <input class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full" id=""
      placeholder="Search" type="text">
      <button class="hidden">Submit</button>
    </form> -->
    <!-- END Search field -->
    
    <!-- Global navigation -->
    <!-- <nav>
      <ul class="list-reset md:flex md:items-center"> -->
        <!-- <li class="md:ml-4">
          <a class="block no-underline hover:underline py-2 text-black-darkest hover:text-black md:border-none md:p-0" href="/rooms">
            Rooms
          </a>
        </li> -->
        <!-- <li class="md:ml-4">
          <a class="border-t block no-underline hover:underline py-2 text-black-darkest hover:text-black md:border-none
          md:p-0" href="/login">
            Login
          </a>
        </li>
        <li class="md:ml-4">
          <a class="border-t block no-underline hover:underline py-2 text-black-darkest hover:text-black md:border-none
          md:p-0" href="/signup">
            Signup
          </a>
        </li>
      </ul>
    </nav> -->
    <!-- END Global navigation -->
  
  </header>
  <div class="pt-20 ">
  
  