<div>   
    <div class="p-3 lg:w-1/2 mx-auto">
      <div class="bg-white rounded-t-lg p-5">
        <p class="text-center text-lg text-gray-800 font-light">Sign in with</p>        
        <div>            
          <div class="flex items-center justify-center space-x-4 mt-3">               
            
            <button class="flex items-center py-2 px-4 text-sm uppercase rounded bg-white hover:bg-gray-100
            text-indigo-500 border border-transparent hover:border-transparent hover:text-gray-700 shadow-md
            hover:shadow-lg font-medium transition transform hover:-translate-y-0.5">
              <a href="https://mail.google.com">
                <img src="img/icons8-google-24.png" alt="">   
              </a> Google                  
            </button>            
          </div>         
        </div>      
      </div>      
      <div class="bg-gray-100 rounded-b-lg py-5 px-4 lg:px-24">
        <p class="text-center text-sm text-gray-500 font-light">Or sign in with credentials</p>         
        <form class="mt-6" action="/login" method="POST">
          <div class="flex justify-center">
            <div class="mb-3 xl:w-20 ">
              <select name="selector" class="appearance-none m-0  form-select border block px-2 py-1.5 border-gray-100 shadow-sm focus:shadow-md transition rounded-md w-full text-gray-600 leading-tight  focus:outline-none focus:ring-gray-800 focus:shadow-outline text-base font-normal  bg-white bg-clip-padding bg-no-repeat  border-solid    focus:text-gray-700  " aria-label="Default select example" required>
                  <option selected >Login As</option>
                  <option value="Seller">Seller</option>
                  <option value="Customer">Customer</option>
                  
              </select>
            </div>
          </div>            
          <div class="relative mt-3">               
            <input  class="appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600
            transition  rounded-md w-full py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600
            focus:shadow-outline" id="username" name="username" type="text" placeholder="Username" autocomplete="off"/>
            <div class="absolute left-4 inset-y-0 flex items-center">                  
              <img src="img/user20.png" alt="">              
            </div>            
          </div>            
          <div class="relative mt-3">               
            <input class="appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md
            focus:placeholder-gray-600  transition  rounded-md w-full py-3 text-gray-600 leading-tight
            focus:outline-none focus:ring-gray-600 focus:shadow-outline" id="password" name="password" type="password" placeholder="Password" autocomplete="off"/>
            <div class="absolute left-4 inset-y-0 flex items-center">                  
              <img src="img/password-20.png" alt="">              
            </div>            
          </div>            
        
          <!-- <div class="mt-4 flex items-center text-gray-500">
            <input type="checkbox" id="remember" name="remember" class="mr-3" />
            <label for="remember">Remember me</label>
          </div> -->
          <div class="flex items-center justify-center mt-8">
            <button
              class="text-white py-2 px-4 uppercase rounded bg-indigo-500 hover:bg-indigo-600 shadow
              hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
            >
              Sign in
            </button>
          </div>
          <div class="mt-4 flex items-center text-gray-500 justify-center">
            "Do not have an account yet" 
                <a href="/signup" class="text-indigo-400 hover:text-indigo-500"> Create Account</a>
            </label>        
          </div>        
          <div class="mt-4 flex items-center text-gray-500 justify-center">
              "Forgot Password"
                <a href="" class="text-indigo-400 hover:text-indigo-500"> Reset Password </a>
            </label>        
          </div>        
        </form>      
      </div>   
    </div>
  </div>