<%- include('partials/headerTemplate') %>
  <title>Rooms</title>
  <%- include('partials/landingNavbarTemplate') %>
  <%-include ('partials/productDetailTemplate') %>
<%include ('partials/footerTemplate') %>

