<%- include('partials/headerTemplate') %>
  <title>Rooms</title>

    
  <%- include('partials/landingNavbarTemplate') %>
   
   
  <%-include ('partials/cartTemplate') %>

<%include ('partials/footerTemplate') %>
